body {
    margin: 0;
}

.navbar {
    position: relative;
    top: 0;
    display: flex;
    margin-right: 5vw;
    margin-left: 5vw;
    margin-top: 1vh;
    background-color: transparent;
    justify-content: space-evenly;
}

* h1, h2, h3, p,li {
    font-family: 'Old Standard TT', serif;
    margin: 0;
    font-weight: bolder;
}

.nav-item>h1 {
    margin: 0;
}

.nav-item {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right {
    justify-content: end;
}

.horizontal-list {
    list-style: none;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 0;
}

.horizontal-list a {
    display: block;
    color: black;
    text-decoration: none;
    text-align: left;/
}

.horizontal-list a>p {
    display: inline-block;
    position: relative;
    color: black;
    font-size: 16px;
    font-weight: 500;
    overflow: hidden;
}

.horizontal-list a>p::after {
    overflow: hidden;
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: black;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.horizontal-list a>p:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.last-list {
    list-style: none;
    padding: 0;
    width: 50%;
    display: flex;
    justify-content: space-around;
    margin: 0;
}


/* Apply CSS to make images fit the slide */
header {
    position: absolute;
    /* Use "fixed" for a fixed position or "absolute" for an absolute position */
    width: 100%;
    /* Make the header span the entire width */

    z-index: 1;
    /* Place header above the carousel */
}

/* Style the Glide.js carousel to be full-screen */
.glide {
    position: relative;
    top: 0;
    /* Reset the top position to zero */
    height: 100vh;
    /* 100% of the viewport height */
}

#slide1 {
    background-image: url(../img/couchGreen.jpg);
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100vh;
}

#slide2 {
    background-image: url(../img/allProduct.jpg);
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100vh;
}

#slide3 {
    background-image: url(../img/dining.jpg);
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100vh;
}

#slide4 {
    background-image: url(../img/bedroom.jpg);
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100vh;
}

.desc {
    width: 45%;
    padding-top: 20vh;
    padding-left: 5vw;
}

.catLinks {
    display: flex;
    width: 80%;
    justify-content: center;
    margin-left: 10vw;
    margin-right: 10vw;
}

.catLinks>a {
    position: relative;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 100%;
    height: 40vh;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    overflow: hidden;
}

.allProd:hover>img {
    filter: brightness(0.5);
    transform: scale(1.1);
}

.allProdImg {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 40vh;
    object-fit: cover;
    z-index: -1;
    filter: brightness(0.9);
    transition: all 0.8s ease-in-out;
    overflow: hidden;
}

header {
    position: absolute; /* Use "fixed" for a fixed position or "absolute" for an absolute position */
    width: 100%; /* Make the header span the entire width */
    z-index: 1; /* Place header above the carousel */
.allProdImg:hover {
    filter: brightness(0.1);
    transform: scale(1.4);
}

.text {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40vh;
    color: white;
}

.text>h1 {
    font-size: 5rem;
}

.marquee {
    --gap: 1rem;
    text-transform: uppercase;
    display: flex;
    overflow: hidden;
    user-select: none;
    gap: var(--gap);
    list-style-type: none;
  }
  
  .marquee__content {
    text-transform: uppercase;
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;
    min-width: 100%;
    gap: var(--gap);
    animation: scroll 20s linear infinite;
    list-style-type: none;
    color: #ED7D31;
  }

  .marquee__content li ion-icon {
    color: #929292 !important;
}

  @keyframes scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - var(--gap)));
    }
  }


.shopBtn {
    position: absolute;
    bottom: 2vh;
    text-align: center;
    width: 100%;
    color: white;
    text-decoration: underline;
}
